In [20]:
from package import *

In [21]:
import pandas as pd

In [22]:
import numpy as np

In [23]:
data = pd.read_csv('data.csv',index_col=0)

In [24]:
df = pd.DataFrame(data)

In [25]:
df

    note1  note2
e1     12     13
e2     15     17
e3     16     20
e4     10     11
e5     14     16

In [31]:
def agnes(df, nbclusters = 1):
    colonnes = df.columns.tolist() #labels des colonnes
    lignes = df.index.tolist()     #labels des lignes
    
    #normaliser la dataset
    df = normaliser(df)
    
    # création et initialisation de la matrice
    matrice = pd.DataFrame(index=lignes, columns=lignes)
    initialiser_matrice(matrice, df) 
    afficher_matrice(matrice)

    while len(matrice) > nbclusters :
        i,j=indexMin(matrice)
        #récupérer les éléments les plus proches
        g1=matrice.columns[j] 
        g2=matrice.columns[i]
        supp= ""+matrice.columns[i] #élément à enlever de la matrice
        nv_etiq = g1+"-"+g2
        #recalculer la matrice
        for k in range(0,len(matrice)):
            minimum = min(matrice.iloc[k, j],matrice.iloc[k, i])
            matrice.iloc[k, j] = minimum
            matrice.iloc[j, k] = minimum
        #supprimer l'élément de la colonne et la ligne
        matrice.drop(g2, axis=1, inplace=True) 
        matrice.drop(g2, inplace=True)
        matrice.rename(columns={g1: nv_etiq}, inplace=True)
        matrice.rename(index={g1: nv_etiq}, inplace=True)
        afficher_matrice(matrice)

In [32]:
agnes(df,2)